@media screen and (max-width: 1080px) {
  .app {
    display: flex;
    flex-direction: column;
    .sidebar {
      position: initial;
      width: 100%;
      .links,
      .pro {
        display: none;
      }
    }
  }
  .dashboard {
    margin: 0;
    padding: 0;
    .navbar {
      display: none;
    }
    .grid {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .one {
        margin: 0;
        padding: 0;
        .milestones {
          width: 100%;
          flex-direction: column;
          gap: 1rem;
          .milestone {
            border: none;
            justify-content: flex-start;
          }
        }
      }
      .two {
        grid-template-columns: 1fr;
      }
    }
  }
}
