@mixin getNavbarStyles() {
  .navbar {
    display: flex;
    justify-content: space-between;
    .container {
      display: flex;
      .search {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        color: #f94144;
        gap: 1rem;
        font-size: 1.5rem;
        input {
          border: none;
          color: #f94144;
          background-color: black;
          &:focus {
            outline: none;
          }
        }
      }
      .profile {
        margin-left: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        .bell {
          font-size: 1.4rem;
          color: #f94144;
        }
        .image {
          img {
            height: 3rem;
            border-radius: 2rem;
          }
        }
      }
    }
  }
}
