@mixin getRevenueStyles {
  .revenue {
    height: 100%;
    background-color: black;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    @include getTytleStyles();
    .graph {
      height: 80%;
    }
  }
}
