.sidebar {
  position: fixed;
  width: 15rem;
  height: 100%;
  background-color: black;
  .brand {
    font-size: 1.6rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    img {
      height: 2rem;
    }
    color: #f94144;
    margin: 2rem 0;
  }
  .links {
    ul {
      margin-bottom: 3rem;
      .active {
        border-right: 0.3rem solid #f94144;
        a {
          color: #f94144;
        }
      }
      li {
        border-right: 0.3rem solid transparent;
        margin: 1rem 0;
        list-style-type: none;
        a {
          margin: 0 3rem;
          text-decoration: none;
          font-size: 1.1rem;
          display: flex;
          gap: 1rem;
          color: rgb(93, 98, 145);
        }
        transition: 0.3s ease-in-out;
        &:hover {
          border-right: 0.3rem solid #f94144;
          a {
            color: #f94144;
          }
        }
      }
    }
  }
  .pro {
    background-color: #f94144;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    margin: 0 2rem;
    padding: 1rem 1rem;
    color: white;
    text-align: center;
    border-radius: 2rem;
    .image {
      img {
        height: 2rem;
      }
    }
    button {
      color: #f94144;
      font-weight: 900;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      border: none;
    }
  }
}
