@mixin getTytleStyles {
  .title__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .icon {
      color: #ff0659;
      font-size: 1.4rem;
      svg {
        transition: transform 0.5s ease-in-out;
        &:hover {
          transform: rotate(90deg) scale(1.3);
        }
      }
    }
  }
}
